<div class="pt-8">
  <%= link_to "See search trends",articles_trends_path(), class:"text-white m-5 bg-red-500 hover:bg-red-500 focus:ring-1 focus:outline-none focus:ring-red-300 font-medium rounded text-sm px-4 py-2"%>
</div>
<section class="text-gray-400 body-font bg-gray-900 min-h-screen grid content-between">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Grab your most desired package!</h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-opacity-80">Easily find out whatever npm pack you need and toggle over many packages</p>
      <%= form_with(url: articles_search_path, method: :get,class:"lg:w-1/2 md:w-full w-full mt-5" , data: {controller: "search-form", turbo_frame: "articles", turbo_action: "advance"}) do |form| %>
        <label class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </div>
          <%= form.text_field :query, class: "focus:outline-none block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border  focus:ring-red-500 focus:border-red-500 ", data: {action: "input->search-form#search"} %>
        </div>
      <% end %>
    </div>
    <div class="flex flex-wrap -m-4">
      <%= render "articles", articles: @articles %>
    </div>
  </section>
